* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0e0f12;

  display: flex;
  flex-direction: column;

  font-family: "Domine", serif;
  font-optical-sizing: auto;

  min-height: 100vh;
}

/* Header */

header {
  height: 10vh;
  width: 100vw;

  background-color: #0e0f12;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Área Principal */

main {
  height: 80vh;
  width: 100vw;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  gap: 60px;
}

/* Grupo */

.direitaEesquerda {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 15px;
}

/* Títulos */

#tituloLigar,
#tituloDesligar {
  font-size: 35px;
  font-weight: bold;

  text-align: center;
}

/* Container */

.container {
  display: flex;
  flex-direction: column;

  height: 300px;
  width: 300px;

  border-radius: 20px;

  background-color: rgba(214, 214, 214, 0.68);

  justify-content: center;
  align-items: center;

  gap: 20px;
}

/* Caixa central */

.caixacentral {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 15px;
}

/* contador */

.contador {
  display: flex;

  align-items: center;
  justify-content: center;

  margin-bottom: 5px;
}

.contador h2 {
  font-size: 25px;
}

/* BOTÕES */

button {
  width: 230px;
  height: 230px;

  background-color: #000000;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 25px;
  border-radius: 50px;
  border-style: none;

  cursor: pointer;
  font-family: "Domine", serif;
}

button.ligado {
  background-color: #44ff00;
}

button.desligado {
  background-color: #000000;
}

/* Quando passa o mouse */

button:hover {
  box-shadow: 0 10px 20px rgb(255, 255, 255);
}

/* Quando aperta */

button:active {
  box-shadow: 0 4px 10px rgb(255, 255, 255);

  transform: scale(0.97);
}

/* FOOTER */

footer {
  height: 10vh;
  width: 100vw;

  background-color: rgba(214, 214, 214, 0.68);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Imagens dos Cliques */

.imagem-clique {
  position: fixed;

  width: 60px;
  height: 60px;

  object-fit: cover;

  z-index: 100;

  pointer-events: none;
}

#nomedosite {
  font-size: 70px;
}

h1 {
  color: white;
}
